
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&display=swap');

/*Reset*/

*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Inicio CSS*/

h1 h2 h3 {
    font-family: 'Roboto', sans-serif;
}

.bgGradient{
    background: rgb(73,70,70);
background: linear-gradient(180deg, rgba(73,70,70,0.7290266448376226) 0%, rgba(236,235,235,1) 100%, rgba(233,233,233,1) 100%);
}

.bgGradient2{
    background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,0.8578781854538691) 0%, rgba(255,255,255,1) 100%);
}

.bgGradient3{
    background: rgb(73,70,70);
    background: radial-gradient(circle, rgba(73,70,70,0.7290266448376226) 0%, rgba(236,235,235,1) 100%, rgba(233,233,233,1) 100%);
}

.colorFooter{
    background-color: #f1f1f1;
}

.colorFooter2{
    background-color: rgba(0, 0, 0, 0.2);
}

.colorLi{
    background-color: rgba(242, 231, 231, 0.2);
}


.imagenEscritos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.imagenBiografia{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    float: left;
    margin-bottom: 2%;
    margin-right: 2%;
    margin-top: 1%;
}


.escritoPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .biografia{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /*Pseudoclases*/

    div p.one:first-letter{
        font-size: 3rem;
        font-weight: 900;
    }

    /*Animaciones*/

    link {
        margin: 2rem 1.5rem;
        display: flex;
        justify-content: space-evenly;
        }
        .link a {
        letter-spacing: 2px;
        text-decoration: none;
        color: #333;
        font-size: 1.5rem;
        position: relative;
        }
        .link a:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: rgb(61, 61, 61);
        
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.2s ease-in-out;
        }
        .link a:hover:after {
        transform-origin: left;
        transform: scaleX(1);
        }

        .scale:hover{
            transform: scaleX(1.05);
            cursor: pointer;
            transition: 3s;
        }

        .scaleFooter:hover{
            transform: scale(1.3);
            cursor: pointer;
            transition: 2s;
        }


    /*Media queries*/

    @media (min-width: 280px) and (max-width: 302px){
        nav img{
            width: 150px;
        }
    }